main {
    overflow: auto;
    line-height: 0;
}

.box {
    display: inline-block;
    position: relative;
    user-select: none;
}

.box img {
    width: 100%;
    max-width: 300px;
    height: auto;
    position: relative;
}

#pages {
    margin-top: 15px;
}

#pages a {
    display: inline-block;
    margin: 3px;
    font-weight: bold;
}

#pages .current {
    color: black;
}
