body {
    text-align: center;
    font-family: Arial, Georgia, sans-serif;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

header h1 {
    margin: 0 0 15px 0;
}

header nav {
    margin-bottom: 15px;
}

header nav a {
    font-weight: bold;
}

header nav a.active {
    color: black;
}

#loading {
    margin: 15px 0;
    font-weight: bold;
}
