body {
    text-align: center;
    font-family: Arial, Georgia, sans-serif;
}

a {
    color: dodgerblue;
    text-decoration: none;
    transition: .3s ease all;
}

a:hover {
    color: black;
}

header a {
    margin: 15px;
    padding: 15px 20px;
    border: solid 1px dodgerblue;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    font-size: xx-large;
}

header a:hover, header a:focus {
    background: dodgerblue;
}
