body {
    text-align: center;
    font-family: Arial, Georgia, sans-serif;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

h1 a {
    margin: 15px;
    padding: 15px 20px;
    border: solid 1px dodgerblue;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    transition: .3s ease all;
}

h1 a:hover, h1 a:focus {
    background: dodgerblue;
}

#loading {
    margin: 15px 0;
    font-weight: bold;
}
