.links {
    padding: 0 5%;
}

.links a, .links span {
    display: inline-block;
    margin: 15px;
}

.links img {
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
    border-radius: 50%;
    border: solid 1px blue;
}

#player {
    margin: 15px auto;
}

#player video {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px auto;
}
